:root {
  --white: #fff;
  --blue: #199cdb;
  --black: #333;
  --light-gray: #f7f7f7;
  --gray: #f0f0f0;
  --darker-gray: #eaeaea;
  --dark-gray: #b5bdc1;
  --darken: #777;
  --yellow: #d6c08d;
}

* {
  margin: 0px;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  margin: auto;
  display: block;
}

.section-title {
  margin: 0px 0 2.5rem 0;
  font-weight: normal;
  font-size: 2rem;
}

.section-content {
  display: none ;
}

.error-email {
  color: red;
  font-weight: 700;
}

.error-email button {
  color: #fff;
  background-color: #3584a8;
}

/* NAVBAR */
#nav-bar {  
  text-align: center;
  box-shadow: 0 0 3px 1px var(--dark-gray);
  position: relative;
}

#nav-bar nav {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#nav-bar nav > * {
  padding: 20px 30px;
  border-left: 1px solid var(--darker-gray);
  display: flex;
  align-items: center;
}

#nav-bar nav > *:last-child {
  border-right: 1px solid var(--darker-gray);
}

#nav-bar nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
}

#nav-bar nav a i {
  color: var(--blue);
}

#nav-bar .nav-bar-heading {
  padding: 20px 100px;
  display: block;
  position: relative;
  border-left: 0;
}

.nav-bar-heading > :not(.navbar-avatar) {
  display: none;
}

#nav-bar .navbar-avatar {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 12px solid var(--white);
  border-radius: 50%;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  box-shadow: 0 0 3px 1px var(--darken);
}

/* BANNER */
#banner {
  padding: 0 0 33% 0;
  position: relative;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.banner-text {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: #fff;
  z-index: 3;
}

/* ABOUT */
#about {
  background: linear-gradient(
    90deg,
    var(--light-gray) 0%,
    var(--light-gray) 50%,
    var(--gray) 50%,
    var(--gray) 100%
  );
}

#about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

#target,
#personal-info {
  padding: 90px 50px 50px;
}

#personal-info {
  background-color: var(--gray);
}

#personal-info ul {
  padding: 0;
  margin-bottom: 25px;
}

#personal-info li {
  margin-bottom: 12px;
}

#personal-info i {
  color: var(--blue);
  margin-right: 10px;
}

.info {
  color: #777;
}

.info span {
  color: #222;
}

#job-info .container {
  display: grid;
  width: 80% ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.ml{
  font-size: 0.875rem;
  color: var(--black);
}

.nam{
  font-size: 0.875rem;
  color: var(--darken);
}

.badge {
  display: inline-block;
  border-radius: 25px;
  color: var(--white);
  padding: 5px 15px;
  background: var(--blue);
  font-size: 0.8rem;
}

.icons{
  font-size: 60px;
  color: var(--darken);
}

.icons-2{
  padding: 0;
  margin: 0;
}

.icons-2 li{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  
}

.ic i{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  border: 1px solid var(--blue);
  margin: 0 auto 10px;
}

.mb {
  list-style: none;
  padding: 0;
}

.text-p p{
  color: var(--darken);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.experience-item {
  border: 1px solid var(--dark-gray);
  padding: 40px 20px 60px 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
}

.experience-title {
  font-size: 26px;
  font-weight: normal;
  margin: 0;
  align-self: center;
  cursor: pointer;
}

.experience-content {
  grid-column: 1 / -1;
  margin-top: 30px;
  margin-bottom: 20px;
}

.experience-helper {
  position: absolute;
  bottom: 20px;
  transition: 0.3s ease-in-out 0s;
  opacity: 0;
}

.skill-level {
  list-style: none;
  padding: 0;
  height: 2px;
  margin-top: 5px;
}
.skill-level::after {
  content: '';
  clear: both;
  display: table;
}
.skill-level li {
  height: 2px;
  width: 45px;
  background-color: var(--dark-gray);
  display: block;
  margin-right: 10px;
  line-height: 0;
  font-size: 0;
  float: left;
}
.skill-level li.active {
  background-color: var(--blue);
}

.mt{
  margin-top: 1rem;
}

#sp{
    background: var(--light-gray);
  padding: 50px 0;
}

.view-more {
  display: none;
}

/* CERTIFICATES */
.certificates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.certificate-item {
  display: grid;
  grid-template-columns: 35% 1fr;
  column-gap: 30px;
  position: relative;
}
.certificate-item img {
  display: block;
}
.certificate-title {
  text-transform: uppercase;
  margin-bottom: 12px;
}
.certificate-separator {
  height: 1px;
  background-color: var(--yellow);
  grid-column: 1 / -1;
}

/* PROJECTS */
.projects {
  margin-bottom: 30px;
  padding: 50px 0;
}
.project-item {
  border-style: groove;
  border-width: 2px;
}
.project-item img {
  display: block;
}
.project-title {
  border: 1px solid var(--dark-gray);
  border-width: 1px 0 1px 0;
  padding: 1rem;
  text-transform: uppercase;
}
.project-item table {
  border: 0;
  border-spacing: 0;
}
.project-item td {
  border: 1px solid var(--dark-gray);
  border-width: 1px 0 0 0;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0.5rem;
  text-align: justify;
}

.du-an{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top-style: groove;
  grid-gap: 30px;
  border-radius: 2px;
  padding: 10px;
}

.borter-top{
  border-top-style: groove;
  border-width: 2px;
  padding: 1rem;
  color: var(--darken);
}

.ic-2{
  margin-right: 1rem;
  color: var(--darken);
}


/* icons-3 */
.icons-3 {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  font-size: 0.875rem;
}

.icons a {
  text-decoration: none;
  color: var(--dark-gray);
}

.icons-3 i{
   color: var(--blue);
  font-size: 16px;
}

.icons-3 ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.icons-3 ul li {
  margin: 0;
}

.ic-3 i {
  border: 1px solid var(--blue);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0;
  background-color: var(--blue);
  color: var(--white);
}

#sp .icons-3 {
  justify-content: center;
}

/*PROJECT CHARTER*/
#project-charter {
  margin-top: 60px;
}
.project-charter {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 30px;
  padding: 30px;
}
.project-charter .area-timeline {
  grid-row: 1 / 3;
  grid-column: -1 / -2;
}
.list-group-with-icons {
  border-radius: 0;
}
.list-group-with-icons .list-group-item {
  display: grid;
  grid-template-columns: 80px 1fr;
  border-width: 0 0 1px 0;
  padding: 20px 10px;
}
.list-group-with-icons .list-group-item:last-child {
  border-bottom-width: 0;
}
.list-group-with-icons .icon-wrapper {
  position: relative;
  font-size: 30px;
}
.list-group-with-icons .icon-wrapper > :not(.timeline-icon) {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.list-group-with-counter {
  counter-reset: list_counter;
}
.list-group-team > .list-group-item {
  counter-increment: list_counter;
}
.list-group-team .member-alternative-name::before {
  content: 'Member ' counter(list_counter);
  display: none;
}
.list-group-team .member-name:empty + .member-alternative-name::before {
  display: inline;
}
.list-group-timeline {
  display: flex;
  flex-flow: column-reverse nowrap;
}
.list-group-timeline .list-group-item:last-child {
  border-bottom-width: 1px;
}
.list-group-timeline .list-group-item:first-child {
  border-bottom-width: 0;
}
.timeline-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  padding: 0;
  text-align: center;
  font-size: 20px;
  background-color: var(--gray);
  border: 1px solid var(--darken);
  margin-right: 20px;
}
.timeline-icon::before {
  content: '0' counter(list_counter);
}
.list-group-timeline
  .list-group-item:nth-child(9)
  ~ .list-group-item
  .timeline-icon::before {
  content: counter(list_counter);
}

.list-group-goals .list-group-item {
  grid-template-columns: 100px 1fr;
}
.list-group-team .list-group-item {
  grid-template-columns: 60px 1fr;
}
.list-group-timeline .list-group-item {
  grid-template-columns: 80px 1fr;
}