@media (min-width: 768px) and (max-width: 1024px) {
  #nav-bar .nav-bar-heading {
    display: none;
  }
  #about {
    background: none;
  }
  #about .container {
    grid-template-columns: 1fr;
  }
   #job-info .container{
        grid-template-columns: 1fr 1fr;
    }
    .certificates {
    grid-template-columns: 1fr 1fr;
  }
   .certificate-item {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 15px;
    border-bottom: 1px solid var(--yellow);
    padding-bottom: 15px;
  }
   .certificate-item{
        grid-template-columns: 1fr;
    }
    .project-charter{
    grid-template-columns: 1fr 1fr;
  }
}

